# Women Financial Inclusion

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Load and read the data
data = pd.read_csv("../data/micro_world.csv", encoding="ISO-8859-1")
data.head()

,economy,economycode,regionwb,pop_adult,wpid_random,wgt,female,age,educ,inc_q,...,receive_wages,receive_transfers,receive_pension,receive_agriculture,pay_utilities,remittances,mobileowner,internetaccess,anydigpayment,merchantpay_dig
0,Afghanistan,AFG,South Asia,22647496.0,140343632,0.774286,1,19.0,2,4,...,4,4,4,4.0,4,5.0,1,2,0,0.0
1,Afghanistan,AFG,South Asia,22647496.0,167823412,0.766367,1,40.0,1,5,...,4,4,4,4.0,4,5.0,1,2,0,0.0
2,Afghanistan,AFG,South Asia,22647496.0,182483450,0.588983,1,25.0,1,1,...,4,4,4,4.0,4,5.0,1,2,0,0.0
3,Afghanistan,AFG,South Asia,22647496.0,170778240,2.572345,1,40.0,1,4,...,4,4,4,4.0,4,5.0,2,2,0,0.0
4,Afghanistan,AFG,South Asia,22647496.0,170712642,0.525471,2,27.0,3,1,...,1,4,4,4.0,4,5.0,1,1,1,0.0

In [3]:
# Filter to Philippine Data and reset the index
philippine_data = data[data["economy"] == "Philippines"].reset_index(drop=True)

# View first 5 rows
philippine_data.head()

,economy,economycode,regionwb,pop_adult,wpid_random,wgt,female,age,educ,inc_q,...,receive_wages,receive_transfers,receive_pension,receive_agriculture,pay_utilities,remittances,mobileowner,internetaccess,anydigpayment,merchantpay_dig
0,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,175160143,0.177654,2,34.0,3,5,...,1,4,4,4.0,1,5.0,1,1,1,1.0
1,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,196715468,0.318118,1,25.0,3,4,...,1,4,4,4.0,2,4.0,1,1,1,0.0
2,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,137538586,0.422107,1,26.0,2,5,...,4,4,4,4.0,4,3.0,1,2,1,1.0
3,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,132202737,1.299141,1,23.0,3,5,...,1,4,4,4.0,4,1.0,1,1,1,1.0
4,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,139964446,1.165876,1,33.0,2,3,...,4,4,4,4.0,2,5.0,1,1,0,0.0

In [4]:
# Make a copy of the dataframe
ph_data = philippine_data.copy()
ph_data.head()

,economy,economycode,regionwb,pop_adult,wpid_random,wgt,female,age,educ,inc_q,...,receive_wages,receive_transfers,receive_pension,receive_agriculture,pay_utilities,remittances,mobileowner,internetaccess,anydigpayment,merchantpay_dig
0,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,175160143,0.177654,2,34.0,3,5,...,1,4,4,4.0,1,5.0,1,1,1,1.0
1,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,196715468,0.318118,1,25.0,3,4,...,1,4,4,4.0,2,4.0,1,1,1,0.0
2,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,137538586,0.422107,1,26.0,2,5,...,4,4,4,4.0,4,3.0,1,2,1,1.0
3,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,132202737,1.299141,1,23.0,3,5,...,1,4,4,4.0,4,1.0,1,1,1,1.0
4,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,139964446,1.165876,1,33.0,2,3,...,4,4,4,4.0,2,5.0,1,1,0,0.0

In [5]:
# Create new column 'has_account' and set to False (0) by default
ph_data["has_account"] = 0

# Check if all columns have a value of 1 and set 'has_account' to True (1)
ph_data.loc[(ph_data["account_fin"] == 1) | (ph_data["account_mob"] == 1), "has_account"] = 1
ph_data.head()

,economy,economycode,regionwb,pop_adult,wpid_random,wgt,female,age,educ,inc_q,...,receive_transfers,receive_pension,receive_agriculture,pay_utilities,remittances,mobileowner,internetaccess,anydigpayment,merchantpay_dig,has_account
0,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,175160143,0.177654,2,34.0,3,5,...,4,4,4.0,1,5.0,1,1,1,1.0,1
1,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,196715468,0.318118,1,25.0,3,4,...,4,4,4.0,2,4.0,1,1,1,0.0,1
2,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,137538586,0.422107,1,26.0,2,5,...,4,4,4.0,4,3.0,1,2,1,1.0,1
3,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,132202737,1.299141,1,23.0,3,5,...,4,4,4.0,4,1.0,1,1,1,1.0,1
4,Philippines,PHL,East Asia & Pacific (excluding high income),76659992.0,139964446,1.165876,1,33.0,2,3,...,4,4,4.0,2,5.0,1,1,0,0.0,0

In [6]:
# Count the value of has_account column
# 1 means that it has either an account in financial institution or mobile
ph_data["has_account"].value_counts()

1    627
0    373
Name: has_account, dtype: int64

In [7]:
# Count the value of female column
ph_data["female"].value_counts()

1    573
2    427
Name: female, dtype: int64

In [8]:
# # Filter only those who answered 1 in has_account column
# ph_has_account = ph_data[ph_data["has_account"] == 1]
# ph_has_account.head()

In [9]:
# Save the file
# ph_has_account.to_csv("ph_has_account.csv", index=False)
ph_data.to_csv("ph_data_1.csv", index=False)